.main-button-container {
    transform: rotateZ(-20deg);
    margin-right: 30px;
    box-sizing: border-box;
}

.main-button-container-border {
    display: inline-flex;
    background-color: #a3a3a3;
    border-radius: 58px;
}

.main-button {
    background-color: #B53D85;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 8px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
}

.main-button-label {
    font-family: 'Russo One', sans-serif;
    position: relative;
    color: #341378;
    text-transform: uppercase;
    top: 58px;
    box-sizing: border-box;
    line-height: 1.15;
    text-align: center;
    font-weight: 700;
}

@media screen and (max-device-width : 600px){
    .controllers {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        margin-top: 70px;    
    }
}

@media screen and (min-device-width : 600px){
    .controllers{
        display:none;
    }
}

.dpad-container {
    top: -35px;
    position: relative;
}

.dpad-container-border {
    position: relative;
    margin: 5px;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-color: #a3a3a3;
    padding: 20px;
    box-sizing: border-box;
}

.dpad-horizontal {
    top: 30px;
    height: 30px;
    width: 90px;
    background-color: #000;
    position: relative;
}

.dpad-vertical {
    top: -30px;
    left: 30px;
    height: 90px;
    width: 30px;
    background-color: #000;
    position: relative;
}

.dpad-label {
    font-family: 'Russo One', sans-serif;
    color: #341378;
    text-transform: uppercase;
    box-sizing: border-box;
    line-height: 1.15;
    text-align: center;
    font-weight: 700;
}

.dpad-up {
    left: 2px;
    position: relative;
}

.dpad-left {
    left: -100px;
    top: 80px;
    position: relative;
}