.debugger ul {
    margin: 0;
    padding: 0;
    color: #505050;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

fieldset {
    width: 170px;
}

.log {
    width: 550px;
    height: 300px;
    overflow: auto;
}

.log ul {
    list-style: none;
}

.log .error {
    color: #ff3119;
}