.debugger ul {
    margin: 0;
    padding: 0;
    color: #505050;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

fieldset {
    width: 170px;
}

.header {
    width: 120px;
}

#memory {
    height: 700px;
    overflow: auto;
}

td, th{
    border:1px solid #dddddd;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.log {
    width: 100%;
    height: 300px;
    overflow: auto;
}

.log ul {
    list-style: none;
}

.log .error {
    color: #ff3119;
}

.controllerRow {
    display: inline-flex;
    flex-direction: row;
    margin: 10px;
    flex:none;
}

.controllerCol {
    display : flex;
    flex-direction:column;
    margin-right: 10px;
}

.controllerCol div {
    margin-bottom: 5px;
    display:flex;
}