#screenContainer {
}

body {
    background: #d9dadc;
}

@font-face {
    font-family: nes;
    src: url('/fonts/NES-Logo.ttf');
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.logo {
    color: #42485c;
    font-family: nes;
    font-size: 32px;
    padding-top: 3px;
    padding-right: 3px;
    padding-left: 7px;
    line-height: 100%;
}

.gameboy-screen-border {
    box-shadow: inset 0px 0px 3px 3px rgba(57, 68, 78, 0.87);
    background: #60687b;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 52px;
    padding-right: 60px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 70px;
}

.gameboy-screen-container {

}

.gameboy-screen {
    background: #798836;
    border-top: 3px solid #3f471f;
    border-left: 3px solid #3f471f;
    border-right: 2px solid #8d9f3f;
    border-bottom: 2px solid #8d9f3f;
}

.power-border {
    position: relative;
    top: 30px;
    width: 12px;
    height: 12px;
    margin-bottom: -10px;
    left: -35px;
}

.power-border-on {
    box-shadow: 0px 0px 26px 0px rgba(250,3,3,0.4);
}

.power {
    background: #484848;
    width: 100%;
    height: 100%;
    border-radius: 200px 200px 200px 200px;
    box-shadow: inset 1px 2px 1px 0px rgba(0,0,0,0.75);
}

.power-on {
    background: #b92b14;
}

.button {
    cursor: pointer;
    font-size: 20px;
    margin: 3px;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #4d4d4d;
    display: inline-block;
    box-sizing: border-box;
    flex-basis: 0;
    color: #ededed;
    text-transform: uppercase;
    border-radius: 5px;
    min-width: 25px;
    text-align: center;
    font-weight: 500;

}

.lines-container {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.lines {
    flex: 1;
    flex-grow: 1;
    margin-bottom: 5px;
}

.line-text {
    font-family: Arial;
    color: #bbc1cb;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 100%;
    font-weight: 600;
    font-size: 14px;
}

.button:hover {
    background: #59646e;
}

.menu {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.tiptop {
    position: absolute;
    z-index: 9999;
    max-width: 150px;
    padding: 5px;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: #373737;
    border-radius: 3px;
    border: 1px solid #262626;
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #111; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #111; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #111; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #fff; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}