#screenContainer {
}

body {
    background: #d1d1d1;
}

@font-face {
    font-family: nes;
    src: url('/fonts/NES-Logo.ttf');
}

#power {
    width: 10px;
    height: 10px;
    background: #b92b14;
    position: relative;
    left: -28px;
    top: 30%;
    border-radius: 200px 200px 200px 200px;
    box-shadow: inset 1px 1px 1px 0px rgba(0,0,0,0.75);
}

#screenContainer {
    background: #798836;
    padding: 1px;
    border-top: 2px solid #3f471f;
    border-left: 2px solid #3f471f;
}

#screenBorder {
    box-shadow: inset 0px 0px 3px 3px rgba(71,84,97,0.87);
    background: #606c78;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 42px;
    padding-right: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 60px;
}