#screenContainer {
}

body {
    background: #d1d1d1;
}

@font-face {
    font-family: nes;
    src: url('/fonts/NES-Logo.ttf');
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.gameboy-screen-border {
    box-shadow: inset 0px 0px 3px 3px rgba(71,84,97,0.87);
    background: #606c78;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 42px;
    padding-right: 55px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 60px;
}

.gameboy-screen-container {
}

.gameboy-screen {
    background: #798836;
    padding: 1px;
    border-top: 2px solid #3f471f;
    border-left: 2px solid #3f471f;
    border-right: 2px solid #8d9f3f;
    border-bottom: 2px solid #8d9f3f;
}

.power {
    background: #595959;
    width: 10px;
    height: 10px;
    position: relative;
    right: -30px;
    top: 30%;
    border-radius: 200px 200px 200px 200px;
    box-shadow: inset 1px 2px 1px 0px rgba(0,0,0,0.75);
}

.power-on {
    background: #b92b14;
}

.button {
    cursor:pointer;
    font-family: Arial, sans-serif;
    margin: 3px;
    padding: 5px;
    padding-top: 6px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #4d4d4d;
    display: inline-block;
    box-sizing: border-box;
    flex-basis: 0;
    color: #ededed;
    text-transform: uppercase;
    border-radius: 5px;
    min-width: 25px;
    text-align: center;
    font-weight: 500;

}

.button:hover {
    background: #72818e;
}

.menu {
    display: flex;
    flex-direction: row;
}